@CHARSET "UTF-8";
#content  #orderdetail{
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}
 #orderdetail table{
width:100%;
height:300px;
	
}
.table_bg{
	background-color: #E4E4E4;
}
#orderdetail #order_picture{
	width:200px;
	height: 200px;
}